
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'MuseoModerno', system-ui;
}

html{
  scroll-behavior: smooth;
}

body{
  background: rgb(56,23,145);
  color: orange; 
}

#header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(./images/violet.png);
  background-size: cover;
  background-position: center; 
}


/* video*/
/* .bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267);  
  z-index: 1;
} */ 


.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 140px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
  /* Necessary for absolute positioning of pseudo-elements */
}

nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  background:  orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}
nav ul li a::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg,#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  border-radius: 5px; /* Adjust as needed */
  opacity: 0;
  transition: opacity .3s ease-in-out;
  animation: glowing 20s linear infinite;
}

nav ul li a:hover::before {
  opacity: 1;
}


nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%; 
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0   
 0; }
}
.header-text{
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
}

.header-text h1{
  font-size: 100px;
  margin-top: 10px;

}

.header-text h1 span{
  background-image: linear-gradient(to right,#f3e226, #7be728, #f3265f, #7f40ac, #7be728);
            animation: gradientAnimation 5s linear infinite;
            -webkit-text-fill-color: transparent;
            background-clip: text;
  /* color: rgb(67,87,105); */
}
.multi{
  color:rgb(80, 226, 67);
  font-weight: bolder;
}

.hello{
  font-weight: bolder;
  font-size: 15px;
}

.btn {
  display: inline-block;
  background: transparent;
  border: #fff 1px solid;
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: visible;
  /* Your existing button styles */
  position: relative; /* Necessary for absolute positioning of pseudo-elements */
}

.btn:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg,#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  border-radius: 6px; /* Match button border-radius */
  opacity: 0;
  transition: opacity .3s ease-in-out;
  animation: glowing 20s linear infinite;
}


.btn:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* -------------about----------------- */
#about{
  padding: 80px 0;
  color: #fff;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#lottie-animation{
  flex-basis: 35%;
  width: 100%;
}
.about-col-2 {
  flex-basis: 60%;

}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: orangered;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 100%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: rgb(34, 249, 228);
  font-size: 14px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display:block;
}

/* --------------services----------------- */

#services{
  padding: 30px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div{
  background: #ababab2d;
  padding: 40px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 40px;  
  margin-bottom: 30px;
}

.services-list div h3{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background:  #7d22bd;
  transform: translateY(-10px);
}
/* --------------projects----------------- */

#projects{
  padding: 50px 0;
}

.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
 
.project img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6),#49cfcf, #350c72);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer .links {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
}

.layer a{
  margin-top: 30px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: beige;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
 
}

.project:hover img{
  transform: scale(1.1);
}

.project:hover .layer{
  height: 100%;
}


/* --------------contact----------------- */
.contact-text{
  flex-basis: 35%;
}

.contact-form{
  flex-basis: 60%;
}

.contact-text p{
  margin-top: 30px;
}

.contact-text p i{
  color: beige;
  margin-right: 15px;
  font-size: 20px;
}

.social-icons{
  margin-top: 30px;
  color: #ababab;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: beige;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.contact-form form{
  width: 100%;

}

form input, form textarea{
  width: 100%;
  border:0;
  outline: none;
  background: #ababab2d;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  background: transparent;
  border: #fff 1px solid;
  color: antiquewhite;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

form .btn2:hover{
  background: #ff004f; /*#Change it*/
  border: none;
  display: block;
}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}
/* --------------footer----------------- */
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #34103d;
  font-weight: 300;
  margin-top: 20px;
}

/* --------------media query----------------- */
nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 600px){
  #header-text{
    margin-top: 10%;
    font-size: 16px;
  }

  .header-text h1{
    font-size: 30px;
  }
  
  .multi{
    font-size: 18px;
  }

  nav .fa-solid{
    display: block;
    font-size: 25px;
  }
 
  nav ul{
    background: orangered;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title{
    font-size: 40px;
  }

  #lottie-animation, .about-col-2{
    flex-basis: 100%;
  }

  .my-img, .about-col-2{
    flex-basis: 100%;
  }
  im
  #lottie-animation{
    margin-bottom: 30px;
  }
  
  .about-col-2 p{
    font-size: 14px;
    margin-top: 10px;
  }

  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-text, .contact-form{
    flex-basis: 100%;
  }
  .social-icons a{
    font-size: 25px;
  }

  .copyright{
    font-size: 14px;
  }
}




    /* --background: #060708;
    --background-dim: #08090a;
    --background-dim2: #0e0f11;
  

    --neon-1-1: #a7d575;
    --neon-1-2: #52abc4;
    --neon-2-1: #37eaf7;
    --neon-2-2: #c624ee; */

    